* {
    margin: 0%;
}
.main-body{
    height: 100vh;
    width: 100vw;
    background-image: url(./images/image.png);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 25%;
}

.dot {
    height: 30px;
    width: 30px;
    background-color: #00917C;
    border-radius: 50%;
}
.sol {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;

}
.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 31px;
}
.text{
    padding-right: 10px;
}
.button {
    height: 30px;
    width: 100px;
    background-color: #00917C;
    border-radius: 10px;
    margin: 30px;
}
.text-white {
    color: white;
}
.text-size {
    font-size: 300%;
}
.mar-gin {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
    margin-left: 100px;
    border-width: 5px;
}
.btn1 {
    width: 140px;
    height: 30px;
    background-color: #F8F9FA;
    border-radius: 5px;
    padding: 6px;
    margin: 6px;
    
}
.sec-2 {
    height: 90vh;
    width: 100vw;
    background-color: #EAEBEC;
}
.head {
    color: #00917C;
    
}
.bg-color {
    padding: 20px;
    margin: 15px;
}
.box{
    background-color: white;
    height: 365px;
    width: 426px;
    border: 1px solid white;
    padding: 50px;
    margin: 20px;
}
.sec-3 {
    padding-top: 100px;
    height: 30px;
    width: 100px;
}